#title {
  text-align: center;
}

main {
  display: flex;
}

#right-area {
  width: calc(50% - 3rem);
  margin-left: 1rem;
  margin-bottom: 1rem;
  outline: solid 1px;
}

#preview {
  padding: 1rem;
}